{% extends "base.html" %}

{% block content %}
  <h1 style="text-align: center;">Panel Administracyjny</h1>
  <fieldset>
    <legend><h2>Użytkownicy</h2></legend>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Admin</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ 'Tak' if user.is_admin else 'Nie' }}</td>
            <td style="text-align: center;">
              <form action="{{ url_for('admin.edit_user', id=user.id) }}" style="display:inline;">
                <button href>Edytuj</button>
              </form>
              <form action="{{ url_for('admin.delete_user', id=user.id) }}" method="post" style="display:inline;">
                <button type="submit">Usuń</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ url_for('admin.add_user') }}" class="btn">Dodaj użytkownika</a>
  </fieldset>

  <fieldset>
    <legend><h2>Posty</h2></legend>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tytuł</th>
          <th>Data utworzenia</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.created }}</td>
            <td style="text-align: center;">
              <form action="{{ url_for('admin.delete_post', id=post.id) }}" method="post" style="display:inline;">
                <button type="submit">Usuń</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </fieldset>
{% endblock %}
